.post-item {
    background: #FFF;
    border-radius: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;

    &--status {
        font-size: 2rem;
        padding: 15px;
    }

    .post-item__header {
        padding: 15px;
        a {
            text-decoration: none;
            color: #000;
            &:hover {
                color: #3386d3;
            }
        }

        .post-summary {
            display: flex;
            color: #8e8e8e;
            font-size: .9rem;
            .post-summary__item {
                padding-right: 15px;
                a {
                    color: #8e8e8e;
                }
            }
        }
    }

    .post-item__text {
        padding: 15px;
    }
}

.post-tags {
    padding-bottom: 25px;
    .post-tag-item {
        display: inline-block;
        background: #e0e8ec;
        color: #768295;
        text-decoration: none;
        border-radius: 5px;
        padding: 3px 7px;
        &:hover {
            background: #d6e1e7;
            color: #677386;
        }
    }
}

.post-view {
    .post-item__image {
        padding-bottom: 1rem;
    }
    .post-item__text {
        padding: 0 0 15px 0;
        p {
            padding-left: 15px;
            padding-right: 15px;
        }
        img {
            max-width: 100%;
            width: 100%;
        }
        .post-view__image {
            margin-bottom: 1rem;
        }
    }
}
